.incorporate {
    display: grid;
    min-height: calc(100vh - 30px);
    /* grid-template-columns: 1fr 1fr; */
    /* place-items: center; */
}

/* Progress Bar */
.progress-bar {
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* gap: 40; */
}

.form-box {
    background: var(--color-surface);
    border-radius: 16px;
    padding: 30px 40px;
    margin-top: 50px;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.07);
    min-width: 420px;
    height: 100%;
}

/* Buttons */
.btn-back {
    padding: 9px 22px;
    border-radius: 8px;
    border: 1.5px solid var(--color-bg);
    background: var(--color-bg);
    color: var(--color-primary);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
    transition: transform 0.3s ease-out;
}

.btn-next {
    padding: 9px 22px;
    border-radius: 8px;
    border: 1.5px solid var(--color-accent);
    background: var(--color-accent);
    color: var(--color-bg);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
    transition: transform 0.3s ease-out;
}

.btn-back:hover,
.btn-next:hover {
    /* opacity: 0.85; */
    transform: scale(1.05);
}
